[Unit]
Description=iDRAC Prometheus exporter
After=network-online.target
Wants=network-online.target

[Service]
User=idrac_exporter
Group=idrac_exporter
ExecStart=/usr/bin/idrac_exporter --config /etc/prometheus/idrac.yml
Restart=on-failure
RestartSec=5

# Hardening (optional)
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
